this is the packagename value {{ packagename }}
displaying the shellout value {{shelloutput}}
the value for varprompted is {{ varprompted }}
the value for host_vars is {{hostprompted}}
the value for group_vars is {{testprompted}}
